# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# EF migrations snapshots (optional keep)
*.dbmdl

# Rider / Resharper
_ReSharper*/
*.DotSettings.user